.menubar {
    width: 20%;
    height: 100%;
    min-height: 500px;
    min-width: 180px;
    border: 2px solid var(--c-black_light);
    border-radius: 25px;
    overflow: hidden;
    background-color: var(--c-black);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.menubar .container {
    height: 100%;
    background-color: var(--c-black);
    border: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.menubar .avatar {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menubar .groupbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn__menu {
    width: 150px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--c-black);
    color: var(--c-white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-size: 1em;
}

.btn__menu:hover {
    background-color: var(--c-black_light);
    border-radius: 5px;
}

.btn__menu--active {
    background-color: var(--c-black_light);
    border-radius: 5px;
}

@media(max-width: 780px) {
    .menubar {
        flex-direction: row;
        width: 100%;
        height: 50px;
        min-width: 100%;
        min-height: 50px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top-width: 0;
    }
    .menubar .avatar {
        display: none;
    }
    .menubar .groupbtn {
        flex-direction: row;
        width: 100%;
        height: 30px;
    }
    .menubar .btn__menu {
        margin-left: 10px;
        margin-right: 10px;
    }
}